---
layout: default
---

<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/tags/#{{category | slugify}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div>
    <p><span class="share-box">Share:</span> <a href="https://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">LinkedIn</a>, <a href="http://twitter.com/share?text={{ page.title }}&url={{site.url}}{{page.url}}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">Facebook</a></p>
  </div>


  {% if page.githubissuesid %}
  <h2>Responses</h2>

  <p>Visit the <a href="https://github.com/evgenyb/evgenyb.github.io/issues/{{ page.githubissuesid }}">Github Issue</a> to comment on this page. The comments will not be displayed directly on that page.</p>
  {% endif %}
</article>
